---
title: Api of marscss
body: api
active: api
---
<div class="wrapper">
  <div class="api-sidebar">
    <div class="sidebar-menu">
      <% ['builder','rule','common','composed','modifier'].each do |item| %>
      <button class="is-active" data-target="<%= item %>">
        <i class="icon-type-<%= item %>"></i>
        <%= item %>
      </button>
      <% end %>
    </div>
  </div>
  <div class="api-content">
    <div class="api-search">
      <input type="text" class="input" placeholder="search by name">
    </div>
    <table class="table-collapse">
      <thead>
        <tr>
          <th class="cell-type">
            Type
          </th>
          <th class="cell-name">
            <label class="checkbox">
              Name
              <input type="checkbox" data-target=".search-by-name" data-placeholder="name" checked>
            </label>
          </th>
          <th class="cell-file">
            <label class="checkbox">
              marscss file
              <input type="checkbox" data-target=".search-by-file" data-placeholder="file">
            </label>
          </th>
        </tr>
      </thead>
      <tbody>
      <%= partial 'partials/api-item', locals:{
        data: data.api['api_elements'],
        file: '_elements.scss'
      } %>
      <%= partial 'partials/api-item', locals:{
        data: data.api['api_extend'],
        file: '_extend.scss'
      } %>
      <%= partial 'partials/api-item', locals:{
        data: data.api['api_forms'],
        file: '_forms.scss'
      } %>
      <%= partial 'partials/api-item', locals:{
        data: data.api['api_grid'],
        file: '_grid.scss'
      } %>
      <%= partial 'partials/api-item', locals:{
        data: data.api['api_helpers'],
        file: '_helpers.scss'
      } %>
      <%= partial 'partials/api-item', locals:{
        data: data.api['api_icons'],
        file: '_icons.scss'
      } %>
      <%= partial 'partials/api-item', locals:{
        data: data.api['api_init'],
        file: '_init.scss'
      } %>
      <%= partial 'partials/api-item', locals:{
        data: data.api['api_reset'],
        file: '_reset.scss'
      } %>
      <%= partial 'partials/api-item', locals:{
        data: data.api['api_utilities'],
        file: '_utilities.scss'
      } %>
      </tbody>
    </table>
  </div>
</div>
